.TestContextPage {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    margin: 20px;
    padding: 10px;

    .CounterControlComponent{
        display: flex;
        flex-direction: row;

        .ButtonZ{
            cursor: pointer;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: lightcoral;
        }        

        .ButtonZ:hover{
            opacity: 0.7;
        }

    }

}